
    body{
        background: url('plant.jpg');
    }
    .nav{
        display: flex;
        justify-content: right;
        list-style: none;
        margin: 27px 18px;
    }
    .nav li a{
        text-decoration: none;
        padding: 3px 64px;
        color: white;
        font-size: 19px;
        font-family: 'Ubuntu', sans-serif;
    }
    
    .container{
        color: white;  
        border: 4px solid white;
        border-radius: 20px;
        width: 616px;
        margin: 65px 200px;
        padding: 40px 40px;
        font-family: 'Ubuntu', sans-serif;
    }
    .container input{
        text-align: center;
        display: block;
        width: 380px;
        padding: 10px 12px;
        margin: 32px 89px;
        border-radius: 10px;
        border: 4px solid white;
         }
    .btn{
        border:2px solid white;
        font-size: 19px;
        background-color: rgb(71, 110, 91);
        display: block;
        width: 143px;
        margin: 20px 222px;
        padding: 7px 4px;
        border-radius: 10px;
        cursor: pointer;
        }
